<div class="new-comment-container">
    <h3>Post a Comment</h3>
    <%= form_with model:[@post,@comment] do |f|%>
        
        <p>
            <%= f.label 'Your Comment:' %> <br/>
            <%= f.text_area :body, class: 'comment-input'%>
        </p>
        <p class='comment-submit-container'>
            <%= f.submit 'Post' %>
        </p>
    <% end %>
</div>