<h2 class= "page-header">About Us</h2>
<div class="container-fluid">
    <section class = 'card'>
        <h3 class= 'card-title'>The site</h3>
        <p>Blurb about the site. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non optio nostrum quia ullam. Aperiam sapiente illum ipsa consectetur magnam commodi corrupti ipsum consequuntur dolorum dolor et quisquam harum, vero laborum.</p>
    </section>
    <section class = 'card'>
        <div class="about-section-header">
            <div class="avatar" style="background-image: url('https://storage.googleapis.com/posts-media-assest/alex2-avatar.png')"></div>
            <h3 class= 'card-title'>Alex</h3>
        </div>
        <p>Blurb about me. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odit incidunt aliquid, voluptate exercitationem a ea recusandae perferendis in dicta, expedita minima perspiciatis corrupti natus veniam minus, obcaecati ad illo.</p>
    </section>
    <section class = 'card'>
        <div class="about-section-header">
            <div class="avatar" style="background-image: url('https://storage.googleapis.com/posts-media-assest/other-member-avatar.jpg')"></div>
            <h3 class= 'card-title'>Imaginary Friend</h3>
        </div>
        <p>This is where I would put another team member's blurb... if I had one! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero sapiente, at, atque eos distinctio voluptatibus aperiam dolorem harum perspiciatis et tempore iusto voluptatem omnis architecto recusandae ad dolores soluta? Deleniti?</p>
    </section>
</div>