<%= stylesheet_link_tag 'home-page'%>
<h2 class = 'page-header'> DO I NEED THIS?</h2>

<div class="home-container">
    <section class = 'home-gameplay'>
        <h3>What is it?</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
    </section>
    <section class = 'home-features'>
        <h3>What does it do?</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
    </section>
    <section class = 'home-roadmap'>
        <h3>When can I play it?</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
    </section>
    <section class = 'home-other'>
        <h3>Got anything other info?</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
    </section>
    <section class = 'home-stuff'>
        <h3>What can I have now?</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
    </section>

</div>