

<div class="home-container">
    <section class = 'card '>
        <div class="card-body">
            <h3 class='card-title'>What is it about?</h3>
           <p class = 'card-text'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
        </div>
    </section>
    <section class = 'card'>
        <div class="card-body">
            <h3 class='card-title'>What can I do in it?</h3>
           <p class = 'card-text'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
        </div>
    </section>
    <section class = 'card'>
        <div class="card-body">
            <h3 class='card-title'>When can I play it?</h3>
           <p class = 'card-text'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
        </div>
    </section>
    <section class = 'card'>
        <div class="card-body">
            <h3 class='card-title'>What else can I know?</h3>
           <p class = 'card-text'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
        </div>
    </section>
        <section class = 'card '>
        <div class="card-body">
            <h3 class='card-title'>Whats the plan?</h3>
           <p class = 'card-text'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cupiditate molestias eum nobis, voluptas praesentium labore est molestiae quaerat delectus dignissimos illum quasi aut ratione magni iure, aliquam nemo saepe?</p>
        </div>
    </section>
</div>