<h2>All Post Tags</h2>
<div class="post-list-container">
    <% @tags.each do |tag|%>
        <div class="post-item">
            <%= link_to tag.name, tag_path(tag), class: 'post-link'%>
        </div>
    <% end %>
</div>