<h2>Posts Tagged with '<%= @tag.name.capitalize%>' </h2>
<% if current_user != nil && current_user[:admin_user] %>
    <%= link_to 'Edit Tag', edit_tag_path(@tag)%>
<% end %>
<div class="post-list-container">
    <% @tag.posts.each do |post| %>
        <div class="post-item">
            <%= link_to post.title, post_path(post), class: 'post-link'%>
        </div>
    <%end%>
</div>

