<div class = "comment">
    <h4 class = 'comment-author'>Comment by <%= comment.author_name %></h4>
    <p class= 'comment-body'><%= comment.body %></p>
    <h5 class = "comment-posted"><%=comment.created_at.strftime("Posted on %d/%m/%Y %I:%M%p")%></h5>
</div>