
<h2 class= "page-header">All Updates:</h2>
<% if true %>
    <div class = 'edit-btn-container'>
        <%= link_to 'New Post', new_post_path, class:'edit-btn'%> <br />
    </div>
<%end%>
<div class = 'post-list-container'>
    <% @posts.each do |post|%>
        <%= link_to post.title, post_path(post)%><br/>
    <% end %>
</div>