section {
    background-color: grey;
    padding:15px;
    margin:25px 0;
}


h3{
    text-align: center;
    font-size: 24px;
    padding:25px;

}

.about-section-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:10px;
}

.avatar{
    box-shadow: 50px 50px 30px grey;
    margin:15px;
    border-radius:50%;
    height: 150px;
    width: 150px; 
    background-size: cover;
    background-position: center;
}

